.accordion__element {
  position: relative;
  cursor: pointer;
}

.accordion__element::before {
  @include vp-767 {
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background: $color-silver;
    right: 26px;
    top: 28px;
  }
}

.accordion__element::after {
  @include vp-767 {
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background: $color-silver;
    right: 26px;
    top: 26px;
    transform: rotate(90deg);
  }
}
