.accordion__element {
  position: relative;
}

.accordion__element::before {
  @include vp-767 {
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background: #C4C4C4;
    right: 26px;
    top: 25px;
  }
}

.accordion__element::after {
  @include vp-767 {
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background: #C4C4C4;
    right: 26px;
    top: 26px;
    transform: rotate(90deg);
  }
}

.is-active.accordion__element::after {
  @include vp-767 {
    display: none;
  }
}
