.button {
  font-family: $ff-roboto;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  user-select: none;

  &:hover {
    outline: solid rgb(11, 11, 148);
    opacity: 0.9;
  }

  &:focus {
    outline: solid rgb(11, 11, 148);
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}
