.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include vp-1023 {
    gap: 6px;
  }

  @include vp-767 {
    max-width: 215px;
  }
}

.contacts__email {
  width: 225px;
  align-self: center;


  @include vp-1023 {
    width: 40px;
    min-height: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contacts__email-icon {
  margin-right: 15px;

  @include vp-1023 {
    margin-right: 0;
  }
}

.contacts__email-link {
  color: $color-header-white;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 11px;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
    outline: none;
  }

  &:active {
    opacity: 0.4;
    outline: none;
  }
}

.contacts__email-text {
  max-width: 190px;

  @include vp-1023 {
    display: none;
  }
}

.contacts__phone {
  width: 225px;
  align-self: center;
  display: flex;


  @include vp-1023 {
    width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
  }
}

.contacts__phone-icon {
  margin-right: 18px;

  @include vp-1023 {
    margin-right: 0;
  }
}

.contacts__phone-link {
  color: $color-header-white;
  line-height: 18px;
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
    outline: none;
  }

  &:active {
    opacity: 0.4;
    outline: none;
  }
}

.contacts__phone-text {
  max-width: 190px;

  @include vp-1023 {
    display: none;
  }
}
