.contacts {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;

  @include vp-1023 {
    gap: 26px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 225px;

  @include vp-1023 {
    max-width: 40px;
  }
}

.contacts__email {
  width: 225px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include vp-1023 {
    width: 40px;
    min-height: 40px;
    // margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contacts__email-icon {
  margin-right: 15px;
  margin-left: 0;

  @include vp-1023 {
    margin-right: 0;
  }
}

.contacts__email-link {
  color: $color-header-white;
  line-height: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 9px;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
    outline: none;
  }

  &:active {
    opacity: 0.4;
    outline: none;
  }
}

.contacts__email-text {
  max-width: 190px;
  font-style: normal;

  @include vp-1023 {
    display: none;
  }
}

.contacts__phone {
  width: 225px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include vp-1023 {
    width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
  }
}

.contacts__phone-icon {
  margin-right: 14px;

  @include vp-1023 {
    margin-right: 0;
  }
}

.contacts__phone-link {
  color: $color-header-white;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding-left: 5px;

  @include vp-1023 {
    padding-left: 10px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
    outline: none;
  }

  &:active {
    opacity: 0.4;
    outline: none;
  }
}

.contacts__phone-text {
  max-width: 190px;
  font-style: normal;

  @include vp-1023 {
    display: none;
  }
}
