.main-header {
  background: linear-gradient(180deg, $color-black-pearl 84.9%, $color-transparent 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  @include vp-1023 {
    position: absolute;
    top: 0;
  }
}

.main-header__container {
  display: flex;
  max-width: 1240px;
  padding-right: 70px;
  padding-top: 5px;
  align-items: center;
  flex-wrap: wrap;

  @include vp-1023 {
    padding-right: 0;
  }
}

.main-header__wrapper-logo {
  padding: 25px 0 35px 10px;
  max-width: 215px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-1023 {
    padding: 10px 0 25px 50px;
    margin-right: auto;
  }

  @include vp-767 {
    padding: 9px 0 20px 26px;
  }
}

.main-header__contacts {
  padding: 40px 0 55px 0;
  margin: 0 auto;

  max-width: 480px;

  @include vp-1023 {
    padding: 15px 70px 40px 0;
    margin: 0;
  }

  @include vp-767 {
    padding: 5px 35px 20px 0;
  }
}

.main-header__wrapper-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-header__button {
  width: 160px;
  color: $color-header-white;
  margin-bottom: 15px;
  padding: 10px 15px;
  border: 1px solid $color-header-white;
  border-radius: 3px;
  background-color: $color-transparent;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  font-weight: 700;

  @include vp-1023 {
    display: none;
  }
}

.main-header__logo {
  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
    outline: none;
  }

  &:active {
    opacity: 0.4;
    outline: none;
  }
}
