.questions-form {
  display: flex;
  flex-wrap: wrap;
  color: $color-default-white;
  justify-content: space-between;
  padding-right: 5px;

  @include vp-1023 {
    padding-right: 0;
  }

  @include vp-767 {
    flex-direction: column;
    width: 100%;
  }

  & .input-message {
    position: absolute;
    left: 0;
    top: 50px;
    font-family: $ff-ptmono;
    font-size: 14px;
    color: $color-red;
  }
}

.questions-form h2 {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 13px;
  margin-left: -5px;

  @include vp-1023 {
    margin-bottom: 8px;
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.questions-form label {
  position: relative;
}

.questions-form p {
  line-height: 22px;
  margin: 0 0 35px;
  width: 100%;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 35px;
  }
}

.questions-form input {
  line-height: 22px;
  width: 275px;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  padding: 12px 15px 15px;
  border: none;
  margin-bottom: 20px;
  color: $color-default-white;

  &::placeholder {
    color: $color-default-white;
  }

  @include vp-1023 {
    width: 320px;
  }

  @include vp-767 {
    width: 100%;
    padding: 12px 15px 15px;
  }

  &:hover {
    background: rgba(4, 20, 39, 0.35);
    opacity: 0.7;
  }

  &:focus {
    background: rgba(4, 20, 39, 0.2);
    opacity: 0.7;
    outline: none;
  }

  &:active {
    background: rgba(4, 20, 39, 0.25);
    outline: none;
  }
}

.questions-form textarea {
  width: 100%;
  min-height: 155px;
  padding: 25px 15px;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  color: $color-default-white;
  margin-bottom: 34px;

  &::placeholder {
    color: $color-default-white;
  }

  @include vp-1023 {
    padding-top: 33px;
    margin-bottom: 36px;
  }

  @include vp-767 {
    padding-top: 25px;
    min-height: 180px;
    margin-bottom: 31px;
  }

  &:hover {
    background: rgba(4, 20, 39, 0.35);
    opacity: 0.7;
  }

  &:focus {
    background: rgba(4, 20, 39, 0.2);
    opacity: 0.7;
    outline: none;
  }

  &:active {
    background: rgba(4, 20, 39, 0.25);
    outline: none;
  }
}

.questions-form__wrapper {
  position: relative;
}
