.services {
  display: flex;
  flex-direction: column;
  background: $color-black-pearl;
  padding: 65px 8px 140px;
  box-sizing: content-box;
  font-family: $ff-roboto;

  @include vp-1023 {
    padding: 56px 50px 75px;
  }

  @include vp-767 {
    padding: 48px 25px 86px;
  }
}

.services__container {
  max-width: 1220px;

  @include vp-1023 {
    max-width: 670px;
  }

  @include vp-767 {
    max-width: 570px;
  }
}

.services__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin-top: 0;
  margin-bottom: 54px;

  @include vp-1023 {
    margin-bottom: 37px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin-right: 10px;
    margin-bottom: 27px;
  }
}

.services__title-short-text {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.services__title-long-text {
  @include vp-767 {
    display: none;
  }
}

.services__list {
  display: flex;
  gap: 6.96%;

  @include vp-1023 {
    flex-direction: column;
    gap: 30px;
  }
}

.services__link {
  cursor: pointer;
}

.services__item {
  position: relative;
}

.services__item--production {
  background-position: -188px -114px;
  background-color: rgba(4, 24, 39, 0.5);

  @include vp-1023 {
    background-position: -243px -548px;
  }

  @include vp-767 {
    background-position: -376px -298px;
  }
}

.services__item--assembly {
  background-position: -534px -118px;
  background-color: rgba(4, 24, 39, 0.5);

  @include vp-1023 {
    background-position: -628px -315px;
  }

  @include vp-767 {
    background-position: -365px -538px;
  }
}

.services__item--accessories {
  background-position: -894px -107px;
  background-color: rgba(4, 24, 39, 0.5);

  @include vp-1023 {
    background-position: -147px -359px;
  }

  @include vp-767 {
    background-position: -885px -393px;
  }
}

.services__description {
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;
  max-width: 350px;
  min-height: 640px;
  margin: 0 0 10px;
  padding: 48px 137px 70px 40px;

  @include vp-1023 {
    max-width: 670px;
    min-height: 240px;
    padding: 38px 478px 70px 44px;
  }

  @include vp-767 {
    font-size: 18px;
    max-width: 570px;
    padding: 26px 105px 70px 31px;
  }
}

.services__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: $color-deep-sky-blue;
  border-width: 0;
  border-radius: 3px 0 0 0;

  @include vp-767 {
    width: 40px;
    height: 40px;
  }
}
