.services {
  display: flex;
  flex-direction: column;
  background: $color-black-pearl;
  padding: 65px 8px 140px;
  box-sizing: content-box;
  font-family: $ff-roboto;

  @include vp-1023 {
    padding: 56px 50px 75px;
  }

  @include vp-767 {
    padding: 47px 25px 86px;
  }
}

.services__container {
  max-width: 1220px;

  @include vp-1023 {
    max-width: 670px;
  }

  @include vp-767 {
    max-width: 570px;
  }
}

.services__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin-top: 0;
  margin-bottom: 54px;

  @include vp-1023 {
    margin-bottom: 37px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin: 0 10px 29px 1px;
  }
}

.services__title-short-text {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.services__title-long-text {
  @include vp-767 {
    display: none;
  }
}

.services__list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 7%;

  @include vp-1023 {
    grid-template-columns: 100%;
    gap: 30px;
  }
}

.services__item {
  position: relative;
}

.services__item--production {
  background-color: rgba(29, 75, 110, 0.8);
  background-image: url("../img/board-production-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) and (min-width: 1024px) {
    background-image: url("../img/board-production-desktop@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/board-production-tablet.jpg");
  }

  @media  (max-width: ($vp-1024 - 1px)) and (min-resolution: $retina-dppx) {
    background-image: url("../img/board-production-tablet@2x.jpg");
  }

  @include vp-767 {
    background-image: url("../img/board-production-mobile.jpg");
  }

  @media  (max-width: ($vp-768 - 1px)) and (min-resolution: $retina-dppx) {
    background-image: url("../img/board-production-mobile@2x.jpg");
  }
}

.services__item--assembly {
  background-color: rgba(29, 75, 110, 0.8);
  background-image: url("../img/board-assembly-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) and (min-width: 1024px){
    background-image: url("../img/board-assembly-desktop@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/board-assembly-tablet.jpg");
  }

  @media  (max-width: ($vp-1024 - 1px)) and (min-resolution: $retina-dppx) {
    background-image: url("../img/board-assembly-tablet@2x.jpg");
  }

  @include vp-767 {
    background-image: url("../img/board-assembly-mobile.jpg");
  }

  @media  (max-width: ($vp-768 - 1px)) and (min-resolution: $retina-dppx) {
    background-image: url("../img/board-assembly-mobile@2x.jpg");
  }
}

.services__item--accessories {
  background-color: rgba(29, 75, 110, 0.8);
  background-image: url("../img/board-accessories-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) and (min-width: 1024px){
    background-image: url("../img/board-accessories-desktop@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/board-accessories-tablet.jpg");
  }

  @media  (max-width: ($vp-1024 - 1px)) and (min-resolution: $retina-dppx) {
    background-image: url("../img/board-accessories-tablet@2x.jpg");
  }

  @include vp-767 {
    background-image: url("../img/board-accessories-mobile.jpg");
  }

  @media  (max-width: ($vp-768 - 1px)) and (min-resolution: $retina-dppx) {
    background-image: url("../img/board-accessories-mobile@2x.jpg");
  }
}

.services__link {
  display: block;
  cursor: pointer;
  max-width: 330px;
  min-height: 650px;
  padding: 48px 137px 70px 40px;

  @include vp-1023 {
    max-width: 670px;
    min-height: 250px;
    padding: 38px 478px 70px 44px;
  }

  @include vp-767 {
    font-size: 18px;
    max-width: 570px;
    padding: 26px 105px 70px 30px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
    outline: none;
  }

  &:active {
    opacity: 0.4;
    outline: none;
  }
}

.services__description {
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;

  margin: 0;

  @include vp-767 {
    font-size: 18px;
  }
}

.services__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: $color-deep-sky-blue;
  border-width: 0;
  border-radius: 3px 0 0 0;

  @include vp-767 {
    width: 40px;
    height: 40px;
  }
}
